/* Footer.css */

.footer-container {
    background-color: #165016;
    padding: 5px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
  }
  
  .footer-text {
    color: #fff;
    margin: 0 0 0 180px;
    font-size: 0.9rem;
  }
  